@import "tailwindcss";

@theme {
  --color-primary: #49ec13;
  --color-background-light: #f6f8f6;
  --color-background-dark: #152210;

  --font-family-display: "Plus Jakarta Sans", "Noto Sans", sans-serif;

  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
